@import url('https://fonts.googleapis.com/css2?family=Darumadrop+One&VT323&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}
body {
  justify-content: center;
  font-family: "VT323", monospace, sans-serif;
  text-align: center; 
  align-items: center;
  font-size: large;
  color: black;
}
.main {
  margin: 2% 10% 0 10%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* NAVBAR + BUTTONS */
.navbar {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.navbar-btn {
  background-color: white;
  border: none;
  font-family: inherit;
  font-size: inherit;
  padding: 5px 10px;
  border: 5px solid black;
  /* border-radius: 10px 10px 0 0; */
  width: 15%;
  /* box-shadow: 0 0 50px rgb(236, 236, 236);   */
  box-shadow: 5px 5px 0px black;  
  transition: 0.3s ease-in-out;
}
.navbar-btn:hover, .active {
  padding: 5px 10px 10px 10px;
  /* color: #ff2bbf;
  border-color: #ff2bbf; */
  background-color: #ff2bbf;
}
.navbar-btn:hover {
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

/* HOME */
.container, .container-proj, .container-gallery, .container-about {
  background-color: white;
  position: relative;
  z-index: 1;
  flex-direction: row;
  display: flex;
  padding: 40px;
  /* border-radius: 20px; */
  border: 5px solid black;
  /* box-shadow: 0 0 50px rgb(236, 236, 236);   */
  box-shadow: 5px 5px 0px black;  
}
.hello-image { 
  flex: 1; 
}
.hello-text {
  text-align: left;
  margin-left: 30px;
  flex: 2;
}
.hello-text h1 {
  margin-bottom: 15px;
  font-size: 3em;
}
.hello-text h2 {
  margin-bottom: 15px;
  font-size: 2em;
}
hr {
  margin: 10px 0;
  height: 5px;
  background-color: black;
}
a {
  color: #ff2bbf;
  text-decoration:none; 
}
.fab:not(:last-child) {
  margin-right: 10px;
}
.list {
  display: flex;
  gap: 20px;
}
.group {
  margin-top: 20px;
  width: 50%;
  border: 5px solid black;
  box-shadow: 5px 5px 0px black;  
  padding-bottom: 20px;
}
.group h1 {
  margin: 0px 0px 20px 0;
  padding: 10px;
  background-color: yellow;
  border-bottom: 5px solid black;
}
.svg-row img {
  width: 30px;
}
.svg-row img:not(:last-child) {
  margin-right: 10px;
}
footer {
  border-top: 5px solid black;
  margin-top: 20px;
  padding: 20px;
  background-color: #ff2bbf;
}

/* ABOUT */
.container-about {
  display: block;
  text-align: left;
}

.about-sec {
  margin-bottom: 10px;
}

/* PROJECTS */
.container-proj {
  padding: 0px;
}
.gallery {
  width: 100%;
}
.gallery-item {
  width: 100%;
  display: flex;
  /* margin: 15px 0px; */
  border-bottom: 5px solid black;
  padding: 40px;
}
.gallery-item img {
  flex: 1;
  width: 40%;
  transition: 0.3s ease-in-out;
}
.gallery-item p {
  margin: 0;
  flex: 1;
  padding: 30px 0px 30px 30px;
  /* border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black; */
  /* border-left: 1px solid black; */
}
.title {
  font-size: larger;
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}
.lang {
  display: block;
  color: grey;
  margin-top: 10px;
}

/* GALLERY */
.container-gallery {
  display: flex;
  gap: 10px;
}

.left {
  flex: 2;
}

.middle {
  flex: 1;
}

.right {
  flex: 1;
}

.container-gallery figure {
  margin-bottom: 10px;
}

.container-gallery img,
.container-gallery video {
  width: 100%;
  display: block;
}

figcaption {
  margin-top: 8px;
  text-align: center;
  font-size: 0.9rem;
}

@media screen and (max-width: 900px)  {
  .main {
    margin: 5% 5% 0% 5%;
  }
  .navbar {

  }
  .navbar-btn {
    width: 25%;
    font-size: medium;
  }
  .container {
    display: block;
    /* border-radius: 0 0 20px 20px; */
  }
  .hello-image {
    max-width: 100%;
    align-items: center;
    margin-bottom: 10px;
  }
  .hello-text {
    display: block;
  }
  .hello-text h1 {
    text-align: center;
    font-size: 2em;
  }
  .hello-text h2 {
    text-align: center;
    font-size: 1em;
  }
  .hello-text {
    margin-left: 0px;
  }
  .group h1 {
    font-size: x-large;
  }
  .gallery-item {
    display: block;
  }
  .gallery-item img {
    width: 100%;
    margin-bottom: 0px;
  }
  .gallery-item p {
    margin-top: 0px;
    padding-left: 0px;
    /* border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black; */
    /* border-top: none;
    border-top-right-radius: 0px; */
  }
  .gallery img {
    width: 100%;
  }

  .container-gallery {
    display: block;
  }
}