@import url('https://fonts.googleapis.com/css2?family=Darumadrop+One&VT323&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}
body {
  justify-content: center;
  margin: 5% 10%;
  font-family: "VT323", "Darumadrop One", sans-serif;
  text-align: center; 
  align-items: center;
  font-size: large;
  color: rgb(50, 50, 50);
}

/* NAVBAR + BUTTONS */
.navbar {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.navbar-btn {
  background-color: white;
  border: none;
  font-family: inherit;
  font-size: inherit;
  padding: 5px 10px;
  border-radius: 10px 10px 0 0;
  width: 10%;
  box-shadow: 0 0 50px rgb(236, 236, 236);  
  transition: 0.3s ease-in-out;
}
.navbar-btn:hover, .active {
  padding: 5px 10px 10px 10px;
  color: #ff2bbf;
  border-color: #ff2bbf;
}
.navbar-btn:hover {
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

/* HOME */
.container {
  z-index: 1;
  flex-direction: row;
  display: flex;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 0 50px rgb(236, 236, 236);  
}
.hello-image { 
  flex: 1; 
}
.hello-text {
  text-align: left;
  margin-left: 30px;
  flex: 2;
}
.hello-text h1, .hello-text h2 {
  margin-bottom: 15px;
}
hr {
  margin: 10px 0;
}
a {
  color: #ff2bbf;
  text-decoration:none; 
}
.fab:not(:last-child) {
  margin-right: 10px;
}
.list {
  display: flex;
  gap: 10px;
}
.group {
  width: 50%;
}
.group h1 {
  margin: 20px 0;
}
.svg-row img {
  width: 30px;
}
.svg-row img:not(:last-child) {
  margin-right: 10px;
}
footer {
  margin-top: 20px;
}

/* PROJECTS */
.gallery {
  width: 100%;
}
.gallery-item {
  width: 100%;
  display: flex;
  margin: 15px 0px;
}
.gallery-item img {
  flex: 1;
  width: 40%;
  transition: 0.3s;
}
.gallery-item p {
  margin: 0;
  flex: 1;
  padding: 30px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  /* border-left: 1px solid black; */
}
.gallery img:hover {
  transform: scale(1.05) rotate(-1deg);
  transition: 0.3s;
  box-shadow: 0 6px 20px #08013a71;
}
.title {
  font-size: larger;
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}
.lang {
  display: block;
  color: grey;
  margin-top: 10px;
}